- if current_user.subscriptions.where(question: question).empty?
   div
     = link_to 'Subscribe', subscriptions_path(question: question),
             remote: true,
             method: :post,
             data: {type: 'script'}
- else
   = link_to 'Unsubscribe',
           current_user.subscriptions.where(question: question).first,
           remote: true,
           method: :delete,
           data: {type: 'script'}